/* You can add global styles to this file, and also import other style files */
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 8px 8px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
