<nav class="navbar navbar-dark bg-secondary mb-5">
  <a class="navbar-brand" href="/">Asynchronic Web Application</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Accounts</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/piotrholda" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/PiotrHolda" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>

<div class="panel panel-default">
  <div class="panel-body">
    <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-plus"></i></button>
  </div>
</div>

<nav class="navbar navbar-dark bg-secondary mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made by <a href="https://twitter.com/PiotrHolda" target="_blank">Piotr Ho&#322;da</a>
  </div>
</nav>
